.error {
  color: red;
  display: flex;
  justify-content: center;
  align-items: start;
  font-weight: 100;
}

.btn {
  margin-top: 15px;
  display: flex;
  margin: 0 auto;
}
.form {
  padding: 20px;
  width: 350px;
  border: 2px solid black;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.input {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
}
